:root {
    --transition-duration: .33s;
    --background: #000;
    --color-text: #fff;
    --dark: #333;
    --medium: #999;
    --clear: #fff;
    --primary-bg: #1976d2;
    --primary-border: #004ba0;
    --primary-text: #fff;
    --secondary-bg: #546e7a;
    --secondary-border: #29434e;
    --secondary-text: #fff;
    --warning-bg: #fdd835;
    --warning-border: #c6a700;
    --warning-text: #000;
    --error-bg: #d32f2f;
    --error-border: #9a0007;
    --error-text: #fff;
}